:root {
  --border-radius: 15px;
  --color-background: rgb(80, 0, 255);
  --color-primary: rgb(0, 128, 255);
}

/* Typography */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background: var(--color-background);
}

h1 {
  font-size: 5rem;
  text-align: center;
  transition: letter-spacing 0.5s ease-in-out;
  color: white;
}

h1:hover {
  letter-spacing: 2rem;
}

/* buttons */
.btn {
  width: auto;
  padding: 0 2rem;
  margin: 1rem;
  border-radius: var(--border-radius);
  border: none;
  background: var(--color-primary);
  color: white;
  font-size: 3rem;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

  height: 100%;
}

.btn:hover {
  background: rgb(255, 255, 255);
  color: var(--color-primary);
}

/* Inputs */
.input-search {
  /* padding: 1rem 2rem; */
  font-size: 3rem;
  height: 100%;
  border-radius: var(--border-radius);
  border: none;
  padding: 0 2rem;
  color: var(--color-background);
}
.input-search:focus {
  outline: none;
}

::placeholder {
  color: dodgerblue;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.input-search:focus::placeholder {
  opacity: 0;
}

/* Search Fields */
.search-field {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

/* Gif Container */
.gif-container {
  margin: 2rem;
}

.gif-container > * {
  margin: 10px 10px;
}
